@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Source+Sans+Pro:ital@1&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 9px;
  /* height: calc(100vh - 150px); */
  background: no-repeat center/cover url('../assets/bg2.jpg');
  height: 100vh;
}

@media (min-width: 400px) {
  body {
    font-size: 12px;
  }
}

/*  breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

header {
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}



.menu {
  background-color: lightslategray;
  position: fixed;
  width: 100vw;
  top: 0;
  font-weight: bold;
  z-index: 99;
  /* border: 1px solid; */
  box-shadow: 0px 1px 3px -1px #fff;
  /* opacity: 0.9; */
}

.menu {
  opacity: 0.9;
}

/* 
.line {
  margin: 0px 50px;
  border: 1px solid;
  box-shadow: 0px 0px 1px -1px #fff;
  opacity: 0.4;
} */

.menu a {
  display: block;
  padding: 14px 8px;
  transition: .5s;
}

.menu a:hover {
  color: rgb(92, 167, 238);
  background: #fff;
}

.menu ul {
  display: flex;
  margin: 0px;
  justify-content: space-evenly;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: linear 2s titulomove  forwards;
}

@keyframes titulomove {
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}



.site-subtitle, 
.site-title {
    color: whitesmoke;
    text-align: center;
    padding: 15px 0;
}

.site-title {
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
}

.site-subtitle {
  font-style: italic;
}

/* Portfolio */


.portfolio-content {
  background-color: rgb(245, 239, 239);
  min-height: 100vh;
}

/* .contato h2, */
.port-title {
  font-size: 2em;
  text-align: center;
  padding: 10px 0px;
  line-height: 150px;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}

.img-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 950px;
  padding: 35px 0;
  flex-wrap: wrap;

}

.img-card p {
  color: gray;
  text-align: center;
  font-size: .9em;
  padding: 10px 20px;
}

.img-portfolio {
  height: 350px;
  width: 350px;
  margin: 0 26px;
  object-fit: cover;
  border-radius: 2%;
  border: -1px solid;
  box-shadow: 3px 2px 2px -1px #000;
  transition: all 1s;
}

@media (max-width: 720px) {
  .img-portfolio {
    height: 210px;
    width: 250px;
  }
}

.img-portfolio:hover {
  transform: scale(1.1);
}

figcaption {
  text-align: center;
  font-weight: bold;
  margin: 30px;
  padding: 10px 0;
  font-size: 19px;
}

@media (max-width: 750px) {
  .portfolio-content {
  }
  .card-content{
    flex-wrap: wrap;
  } 
}

.contato {

  min-height: calc(100vh - 300px);
  background-color: #222;
}

.contato h2 {
  color: #fff;
  text-align: center;
  font-size: 2em;
  padding: 30px 0;
}

.contato .container-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contato .icons {
  padding: 8px 20px;
}

.contato a {
  color: #fff;
  transition: .4s;

}


.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px  rgb(255, 255, 255);
}
